{% extends 'base.html' %}

{% block title %}Dog {% endblock title %}


{% block body %}

<div class="dog" style="background-image: url('static/14.jpg');">
    <div class="row" >
        {% for i in prop %}
        <div class="card" style="width: 18rem; margin:20px; border:1px solid rgb(153, 45, 45) ;">
            <img src="{{i.imageURL}}"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{i.name}}</h4>
                <h5 class="card-title">₹ {{i.price}}</h5>
                <p class="card-text"> {{i.desc}} </p>
                
            </div>
            <a href="#" class="btn btn-warning">Add to cart</a> <br>
        </div>
        
        
        {% endfor %}
        
    </div>

</div>


{% endblock body %}