{% extends 'base.html' %}

{% block title %}Home {% endblock title %}

{% block body %}  <div class="fluid-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/3.jpg" class="d-block w-100" alt="Cat Image" py-4>
            </div>
            <div class="carousel-item">
                <img src="/static/6.jpg" class="d-block w-100" alt="Dogs Image">
            </div>
            <div class="carousel-item">
                <img src="/static/7.jpg" class="d-block w-100" alt="Birds Image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <div class="container text-dark m-5" style="position:absolute; top: 65px; left: 150px;">
            <div class="jumbotron">
                <h1 class="display-4">Get your Pet Now!!</h1>
                <p class="lead">This is a Petshop, Where you can get a your dream pet </p>
                <hr class="my-4">
                <p>We have variety of Pets !! You can go through th following sections to get your once's</p>
                <p class="lead">
                  <a class="btn btn-secondary btn-lg" href="/dog" role="button">Dogs</a>
                  <a class="btn btn-info btn-lg" href="/cat" role="button">Cats</a>
                  <a class="btn btn-success btn-lg" href="/birds" role="button">Birds</a>
                  <a class="btn btn-primary btn-lg" href="/other" role="button">Other</a>
                </p>
              </div>
              <br><br><hr>
              <p> <h4>We also offer some</h4> <br>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                  Pets Services
                </button>
              </p>
              <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                  <div class="card card-body" style="width: 300px;">
                  You can also get the  all services of the pet's like Pets-Grooming, Pets-Breeding, Pets-Health_checkup, Pets-insurance and many more.....
                  
                  <a class="btn btn-info btn-lg" href="/services" role="button">Go to Pets Services</a>
                  </div>
                </div><hr>
              </div>
        </div>
        
    </div>
</div>
<a href="/logout">
<button class="w-100 btn btn btn-danger" type="submit">Logout</button></a>
{% endblock body %}



